*{
    /* margin: 0;
    padding: 0; */
    font-family: 'Muli', sans-serif;
}
/* Nav Start */

@media (max-width : 700px){
    #space-fix {
        margin-top : 40px
    }
}

p {
    text-align : justify
}


body {
    font-family: 'Muli', sans-serif;
    font-weight: bold;
}

.sec-one {
    background: linear-gradient(rgba(0, 0, 0, .42), rgba(0, 0, 0, .42)), url("images/tahHd.jpeg") center center no-repeat;
    background-size: cover;
}

.sec-one-cont {
    height: auto;
    color: white;
}

.bg-dark-ov {
    background-color: rgb(34, 34, 34);
}

.navbar-dark .navbar-nav .active>.nav-link,
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .show>.nav-link {
    color: rgb(64, 157, 224);
}

.navbar-dark .navbar-nav .nav-link {
    color: rgb(255, 255, 255);
}

body {
    font-size: 0.9rem;
}

.navbar-dark .navbar-nav .nav-link.disabled {
    color: rgb(255, 255, 255);
}

.dropdown-menu {
    background: rgb(34, 34, 34);
}

.dropdown-item {
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.8rem;
    padding: .6rem 1.5rem;
}

.dropdown-item:hover {
    color: white;
    background-color: rgb(34, 34, 34);
}

.nav-item:hover {
    color: rgb(64, 157, 224);
}

#top-btn:hover {
    background-color: grey;
    border-color: grey;

}

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: .7rem;
        padding-left: .7rem;
    }

    .pad4lap {
        padding-left: 40px;
    }
}

/* Nav End */
body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    /* overflow-x: hidden; */
    font-weight: bold;
}

.img{
    position: relative;
    height: 25vh;
    background-color: #00ADEF;
    background: linear-gradient(rgba(0, 0, 0, .42), rgba(0, 0, 0, .42)), url("images/tahHd.jpeg") center center no-repeat;
    background-size: cover;
}
.main{
    position: relative;
    height: 70vh;
    background: white;
    /* margin-bottom: 130px; */
}
form{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 5vh;
    width: 500px;
}
@media (max-width : 700px){
    form{
        width: 70vw;
    }
}
select{
    border: 1px black solid;
    padding: 10px 0;
    width: 100%;
    margin-bottom: 2vh;
    padding-left: 10px;
    outline: none;
}
input{
    border: 1px black solid;
    padding: 10px 0;
    width: 100%;
    margin-bottom: 3vh;
    padding-left: 10px;
    outline: none;
}

h6{
    font-weight: 100;
    margin-bottom: 5px;
}
input:last-child{
    margin-bottom: 0;
}
p{
    font-size: 0.9rem;
    text-align: center;
    margin-bottom: 5px;
}
.btnWrappermain{
    position: relative;
    overflow: hidden;
    display: inline-block;
    left: 50%;
    width: 150px;
    height: 30px;
    transform: translateX(-50%);
}
.btnmain{
    background-color: rgb(141, 141, 141);
    color: white;
    border: none;
    height: 100%;
    width: 100%;
    cursor: pointer;
    margin-top: 0;
}
.btnWrappermain input[type=file] {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    padding: 0;
    margin-bottom: 0;
    cursor: pointer;
}
.submitmain{
    position: relative;
    border: none;
    background-color: #00ADEF;
    color: white;
    outline: none;
    height: 35px;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 30px;
    width: 100%;
    display: block;
    margin-bottom: 120px;
}
.img > p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 3rem;
    color: white;
}
.phoneno1{
    float: left;
    width: 20%;
}
.phoneno2{
    float: left;
    margin-left: 1%;
    width: 79%;
}
